.bgLodding{
    background-color: #f8f8f8;
    background: url(../assets//bg/lodding.png)  0% 0%  repeat;
    /* animation-name: MOVE-BG;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    width: 100%;
    height: 100%;


}
@keyframes MOVE-BG {
    from {
      transform: translateX(0);
    }
    to { 
      transform: translateX(-180%);
    }
 }